
.column.side {
    width = 25%;
  }
  .column.middle {
    width = 25%;
  }

/* Giving the body the specified background color, adding font sizes for the h1 and h3 elements we'll be using */
body {
  background: #f1f1f1;
}

h1 {
  font-size: 40px;
}
h2 {
  font-size: 40px;
}

h3 {
  font-size: 30px;
}

/* Giving our navbar some padding and a background color */
.navbar {
  padding: 30px;
  background: #5191fd;
}

#bio-image {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

#image {
  width: 250px;
  height: 250px;
  margin-right: 20px;
}
/* Making our navbar li's inline-block elements this makes it so we can have multiple on the same line. Floats could have been used too */
.navbar li {
  display: inline-block;
  float: right;
  padding: 10px;
  margin-right: 10px;
  margin-left: 10px;
  cursor: pointer;
  background: #fff;
  border-radius: 3px;
}

/* Getting rid of the default link styles here */
.navbar li a {
  color: #000;
  text-decoration: none;
}

/* Styling the header, giving it a height, a background color, and some top padding */
.header1 {
  height: 60px;
  padding-top: 0px;
  background: #cdcdcd;
}
.header2 {
  height: 60px;
  padding-top: 0px;
  background: #cdcdcd;
}

/* Centering our h1 tag inside our header, giving it a little padding, removing its margin */
.header h1 {
  padding: 15px;
  margin: 0;
  color: #000;
  text-align: left;
}

.header h2 {
 padding: 15px;
 margin: 0;
 color: #000;
 text-align: right;
}

/* Giving the .post element margin on 3 sides */
.post {
  margin-top: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
.container1 {
  width: 1200px;
  margin: 0 auto;
}

/* Selecting elements by ID */
#main-bio,
#contact-info,
#bio-image {
  float: left;
}

#figure {
  position: relative;
}

#bio-name {
  position: absolute;
  top: 150px;
  left: 30px;
}

#main-bio {
  width: 45%;
  font-size: 15px;
}

.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: green;}

#bio {
  float: right;
  width: 55%;
  font-size: 20px;
}
#nav-select {
  visibility: hidden;
}

/* Adding media queries to show the drop-down, and hide the navbar when the screen is smaller than 480 pixels */
@media (max-width: 480px) {
  .navbar li {
    padding: 10px;
  }

  .post {
    margin-right: 30px;
    margin-left: 30px;
  }

  .navbar ul {
    visibility: hidden;
  }

  #nav-select {
    visibility: visible;
  }
}
@media screen and (max-width: 480 px) {
    .column.side, .column.middle {
      width:100%;
    }
  }
